# PYTHON INTRODUCTION

### WHAT IS PYTHON?

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.

### WHAT CAN PYTHON DO?

Often, programmers prefer Python because of the increased productivity it provides. Since there is no compilation step, the edit-test-debug cycle is incredibly fast. Debugging Python programs is easy: a bug or bad input will never cause a segmentation fault. Instead, when the interpreter discovers an error, it raises an exception. When the program doesn't catch the exception, the interpreter prints a stack trace. A source level debugger allows inspection of local and global variables, evaluation of arbitrary expressions, setting breakpoints, stepping through the code a line at a time, and so on. The debugger is written in Python itself, testifying to Python's introspective power. On the other hand, often the quickest way to debug a program is to add a few print statements to the source: the fast edit-test-debug cycle makes this simple approach very effective.

* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

# GETTING STARTED - PYTHON BASICS

### Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [1]:
#For example
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python will give you an error if you skip the indentation:

In [2]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (3793329317.py, line 2)

The number of spaces is up to the programmer, the most common use is 4, but it has to be at least one.

In [ ]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [ ]:
f 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

### PYTHON VARIABLES

In Python, variables are created when you assign a value to it:

`Creating Variables`:
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
#Example:
x = 5
y = "Hello, World!"

print(x)
print(y)

`casting variables`
If you want to specify the data type of a variable, this can be done with casting.

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

`Get the Type`:
You can get the data type of a variable with the type() function.

In [4]:
x = 5
y = "John"
print('data type of x is',type(x))
print('data type of y is',type(y))

data type of x is <class 'int'>
data type of y is <class 'str'>

`Case-Sensitive`:
Variable names are case-sensitive.

In [5]:
a = 4
A = "Sally"
#A will not overwrite a

Python have 35 keywords, a programmer can not assign keyword's name as veriable.

In [6]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

### PYTHON COMMENTS

* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

`Creating a Comment`
* Comments starts with a #, and Python will ignore them:

Example:

In [7]:
#This is a comment
print("Hello, World!")

Hello, World!

`Multi-line comments`

Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [8]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [9]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

----------------------------

## PYTHON DATA TYPES

### Built-in Data Types

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

In [10]:
import pandas as pd
dict1={'Example':['x = "Hello World"','x = 20','x = 20.5','x = 1j','x = ["apple", "banana", "cherry"]','x = ("apple", "banana", "cherry")','x = range(6)','x = {"name" : "John", "age" : 36}','x = {"apple", "banana", "cherry"}','x = frozenset({"apple", "banana", "cherry"})','x = True'], 'Data Type':['str', 'int','float','complex','list','tuple','range','dict','set','frozen set','bool']}
pd.DataFrame(dict1)

                                         Example   Data Type
0                              x = "Hello World"         str
1                                         x = 20         int
2                                       x = 20.5       float
3                                         x = 1j     complex
4              x = ["apple", "banana", "cherry"]        list
5              x = ("apple", "banana", "cherry")       tuple
6                                   x = range(6)       range
7              x = {"name" : "John", "age" : 36}        dict
8              x = {"apple", "banana", "cherry"}         set
9   x = frozenset({"apple", "banana", "cherry"})  frozen set
10                                      x = True        bool

----------

### PYTHON LISTS

In [11]:
#Example:
mylist = ["apple", "banana", "cherry"]

Lists are used to store multiple items in a single variable.

In [12]:
print(mylist)

['apple', 'banana', 'cherry']

* `List Items`:
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

* `Ordered`: 
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

* `Changeable`: 
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

* `Allow Duplicates`:
Since lists are indexed, lists can have items with the same value:

In [13]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

* `List Length`
To determine how many items a list has, use the len() function:

In [14]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

* `List items data types`: List items can be of any data type:

In [15]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

* `Access Items`:
List items are indexed and you can access them by referring to the index number:

In [16]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

* `Negative Indexing`:
Negative indexing means start from the end -1 refers to the last item, -2 refers to the second last item etc.

In [17]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

* `Range of Indexes`:
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

*Note: The search will start at index 2 (included) and end at index 5 (not included).*

*Remember that the first item has index 0.*

### Change list items

`Change Item Value`: 
To change the value of a specific item, refer to the index number:

In [19]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

`Change a Range of Item Values`: 
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [20]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

* `Insert Items`:
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [21]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

### ADD LIST ITEMS

* `Append Items`:
To add an item to the end of the list, use the append() method:

In [22]:
#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

* `Insert Items`: 
To insert a list item at a specified index, use the insert() method.

    The insert() method inserts an item at the specified index:

In [23]:
#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

* `Extend List`:
To append elements from another list to the current list, use the extend() method.

The elements will be added to the end of the list.

In [24]:
#Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Python - Remove List Items

* `Remove Specified Item`:
The remove() method removes the specified item.

In [25]:
#Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

* `Remove Specified Index`:
The pop() method removes the specified index.

In [26]:
#Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

*If you do not specify the index, the pop() method removes the last item.*

In [27]:
#Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

`del keyword`: The del keyword also removes the specified index:

In [28]:
#Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

*The del keyword can also delete the list completely.*

In [29]:
#Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

* `Clear the List`:
The clear() method empties the list.

The list still remains, but it has no content.

In [30]:
#Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### LIST COMPREHENSION

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [32]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

*The Syntax :*

newlist = [*expression* for *item* in *iterable* if *condition* == True]

The return value is a new list, leaving the old list unchanged.

### SORT LISTS

`Sort List Alphanumerically`: 
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [33]:
#Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [34]:
#Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

`Sort Descending`:
To sort descending, use the keyword argument reverse = True:

In [35]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [36]:
#Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

`Case Insensitive Sort`:
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [37]:
#Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [38]:
#Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

`Reverse Order` :
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [39]:
#Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

### COPY A LIST

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [40]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

### JOIN THE LISTS

`Join Two Lists` :
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [41]:
#Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

* Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [42]:
#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

### LIST METHODS

Python has a set of built-in methods that you can use on lists.

In [43]:
dict2= {'Method':['append()','clear()','copy()', 'count()','extend()', 'index()','insert()', 'pop()','remove()','reverse()','sort()'], 'Description':['Adds an element at the end of the list','Removes all the elements from the list','Returns a copy of the list','Returns the number of elements with the specified value','Add the elements of a list (or any iterable), to the end of the current list','Returns the index of the first element with the specified value','Adds an element at the specified position','Removes the element at the specified position','Removes the item with the specified value','Reverses the order of the list','Sorts the list']}
pd.DataFrame(dict2)

       Method                                        Description
0    append()             Adds an element at the end of the list
1     clear()             Removes all the elements from the list
2      copy()                         Returns a copy of the list
3     count()  Returns the number of elements with the specif...
4    extend()  Add the elements of a list (or any iterable), ...
5     index()  Returns the index of the first element with th...
6    insert()          Adds an element at the specified position
7       pop()      Removes the element at the specified position
8    remove()          Removes the item with the specified value
9   reverse()                     Reverses the order of the list
10     sort()                                     Sorts the list

-----------------

### PYTHON TUPLES

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [44]:
#Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

`Tuple Items` :
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

`Ordered` :
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

`Unchangeable` :
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

`Allow Duplicates` :
Since tuples are indexed, they can have items with the same value:

In [45]:
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

`Create Tuple With One Item`: 
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [46]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [47]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## PYTHON SETS

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

*Note: Set items are unchangeable, but you can remove items and add new items.*

*Sets are unordered, so you cannot be sure in which order the items will appear.*

In [48]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

`Set Items` :
Set items are unordered, unchangeable, and do not allow duplicate values.

`Unordered`: 
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

`Unchangeable` :
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

`Duplicates Not Allowed` :
Sets cannot have two items with the same value.

In [49]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple", "banana"}

print(thisset)

{'cherry', 'banana', 'apple'}

### Access set items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [50]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [51]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Join Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [52]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [53]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

*Note: Both union() and update() will exclude any duplicate items.*

`Keep ONLY the Duplicates` :
The intersection_update() method will keep only the items that are present in both sets.

In [54]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

--------------------------------------

## PYTHON DICTIONARIES

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

In [55]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1969
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1969}

#### Dictionary Items

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [56]:
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1969
}
print(thisdict["brand"])

Ford

`Mutable` :
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

`Duplicates Not Allowed` :
Dictionaries cannot have two items with the same key:

In [57]:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Access Dictionary Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [58]:
#Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["model"]

'Mustang'

There is also a method called get() that will give you the same result:

In [59]:
#Get the value of the "model" key:

thisdict.get("model")

'Mustang'

##### Get Keys

The keys() method will return a list of all the keys in the dictionary.

In [60]:
#Get a list of the keys:

thisdict.keys()

dict_keys(['brand', 'model', 'year'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [61]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print("Before :",x) #before the change

car["color"] = "white"

print("After :",x) #after the change

Before : dict_keys(['brand', 'model', 'year'])
After : dict_keys(['brand', 'model', 'year', 'color'])

##### Get Values

The values() method will return a list of all the values in the dictionary.

In [62]:
#Get a list of the values:

thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [63]:
#Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print("Before :",x) #before the change

car["year"] = 2020

print("After :",x) #after the change

Before : dict_values(['Ford', 'Mustang', 1964])
After : dict_values(['Ford', 'Mustang', 2020])

In [64]:
#Add a new item to the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print("Before :",x) #before the change

car["color"] = "red"

print("After :",x) #after the change

Before : dict_values(['Ford', 'Mustang', 1964])
After : dict_values(['Ford', 'Mustang', 1964, 'red'])

##### Get Items

The items() method will return each item in a dictionary, as tuples in a list.

In [65]:
#Get a list of the key:value pairs

thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [66]:
#Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print("Before :",x) #before the change

car["year"] = 2020

print("After :",x) #after the change

Before : dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
After : dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

#### Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [67]:
#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

---------------------

## PYTHON CONDITIONS AND IF STATEMENTS

Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [68]:
#If statement:

a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

`Indentation` :
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [69]:
#If statement, without indentation (will raise an error):

a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (3165757490.py, line 6)

### ELIF

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [70]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

### ELSE

The else keyword catches anything which isn't caught by the preceding conditions.

In [71]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

In [72]:
#You can also have an else without the elif:

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

`And` :
The and keyword is a logical operator, and is used to combine conditional statements:

In [73]:
#Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

`Or` :
The or keyword is a logical operator, and is used to combine conditional statements:

In [74]:
#Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

`Nested If` :
You can have if statements inside if statements, this is called nested if statements.

In [75]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

`The pass Statement` :
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [76]:
a = 33
b = 200

if b > a:
  pass

--------------

## PYTHON LOOPS

Python has two primitive loop commands:

* while loops
* for loops

### The While Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [77]:
#Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

*Note: remember to increment i, or else the loop will continue forever.*

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

### The Break Statement

With the break statement we can stop the loop even if the while condition is true:

In [78]:
#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue Statement

With the continue statement we can stop the current iteration, and continue with the next:

In [79]:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement

With the else statement we can run a block of code once when the condition no longer is true:

In [80]:
#Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

------------------

## PYTHON FOR LOOPS

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [81]:
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

### The break Statement

In [82]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

### The range() Function

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [83]:
#Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [84]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [85]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [86]:
#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

--------------------------

# PYTHON FUNCTIONS

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

### Creating a Function

In Python a function is defined using the def keyword:

In [87]:
def my_function():
  print("Hello from a function")

`Calling a Function` :
To call a function, use the function name followed by parenthesis:

In [88]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

### Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [89]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

Arguments are often shortened to args in Python documentations.

`Number of Arguments` :
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [90]:
#This function expects 2 arguments, and gets 2 arguments:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

`Arbitrary Arguments, *args` :
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [91]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

`Keyword Arguments` :
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [92]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

`Arbitrary Keyword Arguments, **kwargs` : If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [93]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

### Recursion

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [94]:
#Recursion Example

def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

### LAMBDA FUNCTION

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

`Syntax` :
lambda arguments : expression

The expression is executed and the result is returned:

In [95]:
#Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

In [96]:
#Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

##### Why Use Lambda Functions?

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [97]:
def myfunc(n):
  return lambda a : a * n

In [98]:
mydoubler = myfunc(2)

print(mydoubler(11))

22